

        .btn {
            background-color: #00b6d1;
            padding: 14px 16px;
            color: white;
            border: none;
            border-radius: 6px;
            font-weight: 700;
            margin: 12px 0px;
            cursor:pointer;


        }
        .btn a{
            text-decoration:none;
            color:white;
        }

        .green {
            background-color: #5cb85c;

        }

        .flex {
            display: flex;
        }

        .small {
            font-size: 12px;

        }

        .second {
            max-width:50vw;
            margin:auto;

            /*display: flex;
            flex-direction: column;*/
            /* justify-content: center;*/
            /*align-items: center;*/
            background-color: aquamarine;
        }

        .item {
            padding: 23px;
            background: #f9f9f9;
            border-radius: 12px;
            font-size:20px;
            font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
            text-align: center;
        }
        .item-lang{
            font-weight: 700;
            text-align:center;
           
            padding-bottom:36px;
        }
        .grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:12px;
        }
        .download:nth-child(2){
            font-size:23px;
        }
        .download img{
            padding:0px 12px;
        }
        .download{
            display:flex;
            font-family: sans-serif;
           /* justify-content: center;*/
           gap:10px;
           align-items: center;
        }
        @media screen and (max-width:1145px) {
            .grid{
                /*background-color: red;
                display:grid;*/
                grid-template-columns: 1fr ;
                /*gap:12px;*/
            }

        

            
        }
  